In [4]:
import pandas as pd
import datetime

In [5]:
enso = pd.read_csv('https://www.atmos.illinois.edu/~snesbitt/soi.dat',sep=r'\s+',header=None,skiprows=4,skipfooter=0, engine='python')
pdo = pd.read_csv('https://www.ncei.noaa.gov/pub/data/cmb/ersst/v5/index/ersst.v5.pdo.dat',sep=r'\s+',header=None,skiprows=2, engine='python')
nao = pd.read_csv('https://www.cpc.ncep.noaa.gov/products/precip/CWlink/pna/norm.nao.monthly.b5001.current.ascii.table',sep=r'\s+',header=None,skiprows=1, engine='python')
ao = pd.read_csv('https://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii.table',sep=r'\s+',header=None,skiprows=1, engine='python')

In [6]:
enso_new=pd.DataFrame()
nao_new=pd.DataFrame()
pdo_new=pd.DataFrame()
ao_new=pd.DataFrame()

enso_new['Date'] = pd.date_range(start=datetime.datetime(enso[0].iloc[0],1,1),end=datetime.datetime(enso[0].iloc[-1],12,1),freq="MS")
nao_new['Date'] = pd.date_range(start=datetime.datetime(nao[0].iloc[0],1,1),end=datetime.datetime(nao[0].iloc[-1],12,1),freq="MS")
pdo_new['Date'] = pd.date_range(start=datetime.datetime(pdo[0].iloc[0],1,1),end=datetime.datetime(pdo[0].iloc[-1],12,1),freq="MS")
ao_new['Date'] = pd.date_range(start=datetime.datetime(ao[0].iloc[0],1,1),end=datetime.datetime(ao[0].iloc[-1],12,1),freq="MS")

enso_new = enso_new.set_index('Date')
nao_new = nao_new.set_index('Date')
pdo_new = pdo_new.set_index('Date')
ao_new = ao_new.set_index('Date')

enso_new['ENSO']=enso.loc[:,1:].stack(dropna=False).values
nao_new['NAO']=nao.loc[:,1:].stack(dropna=False).values
pdo_new['PDO']=pdo.loc[:,1:].stack(dropna=False).values
ao_new['AO']=ao.loc[:,1:].stack(dropna=False).values

newdf_all = pd.concat(
    [enso_new, pdo_new, nao_new, ao_new],
    axis=1
)

/var/folders/4v/xs1f8bws5vj6gd4p9n0gl_6h0000gr/T/ipykernel_67029/548705530.py:16: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  enso_new['ENSO']=enso.loc[:,1:].stack(dropna=False).values
/var/folders/4v/xs1f8bws5vj6gd4p9n0gl_6h0000gr/T/ipykernel_67029/548705530.py:17: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  nao_new['NAO']=nao.loc[:,1:].stack(dropna=False).values
/var/folders/4v/xs1f8bws5vj6gd4p9n0gl_6h0000gr/T/ipykernel_67029/548705530.py:18: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  pdo_new['PDO']=pdo.loc[:,1:].stack(dropna=False).values
/var/folders/4v/xs1f8bws5vj6gd4p9n0gl_6h0000gr/T/ipykernel_67029/548705530.py:19: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  ao_new['AO']=ao.loc[:,1:].stack(dropna=False).values

In [7]:
newdf_all

            ENSO    PDO   NAO     AO
Date
1854-01-01   NaN   0.11   NaN    NaN
1854-02-01   NaN  -0.24   NaN    NaN
1854-03-01   NaN  -0.40   NaN    NaN
1854-04-01   NaN  -0.44   NaN    NaN
1854-05-01   NaN  -0.54   NaN    NaN
...          ...    ...   ...    ...
2025-08-01   0.4  -3.20  0.26  0.036
2025-09-01   0.0  -2.33 -0.80  0.048
2025-10-01 -99.9  -2.40 -0.96  0.064
2025-11-01 -99.9  99.99   NaN    NaN
2025-12-01 -99.9  99.99   NaN    NaN

[2064 rows x 4 columns]

In [10]:
#df2 = pd.read_csv("ts_data.csv")
#df2
newdf_all.to_csv("ts_data2.csv")